<head>
<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <div class="nav">
        <ul>
            <li>Home</li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </div>
    <div>
    </div>
</body>